---
import HeroSvgBackground from './HeroSvgBackground.astro';
import HeroContent from './HeroContent.astro';
import HeroImageCollage from './HeroImageCollage.astro';
---

<header class="relative w-full overflow-hidden bg-[#050816] px-6 py-24 lg:py-36" id="home">
  <HeroSvgBackground />

  <div
    class="relative z-10 mx-auto flex w-full max-w-6xl flex-col-reverse items-center gap-12 lg:flex-row lg:justify-between"
  >
    <HeroContent />
    <HeroImageCollage />
  </div>
</header>
